# Folder output
output/model/
output/*.parquet
# Simpan gambar hasil analisis
# output/figures/*.png  <-- sengaja tidak di-ignore agar terlihat di GitHub

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Docker
.env

# OS
.DS_Store
Thumbs.db
